# Виртуальное окружение
venv/
.env
*.env

# Логи
*.log
logs.txt
trading_logs.txt

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints

# IDE
.vscode/
.idea/

# Данные
*.csv
*.pkl
*.h5
*.model

# Графики
*.png
*.jpg